# Python virtual environment (Sabse badi file - 1.8GB+)
venv/
env/
.env

.streamlit/

# Python cache (Faltu temporary files)
__pycache__/
*.py[cod]
*$py.class

# Streamlit secrets (Tumhari personal API keys)
.streamlit/secrets.toml

# Operating System files
.DS_Store
Thumbs.db

# Reports aur temporary scans (Kachra saaf rakhne ke liye)
*.pdf
temp_scan.jpg

# Large Data/Models (must ignore — too large for GitHub)
*.h5
*.hdf5
data/
*.pkl
*.pickle